@model KamDMS.WebUI.Areas.Admin.Models.User.ResetPassViewModel

@{
    ViewBag.Title = "Смена пароля";
}
<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-green-haze">
            <i class="icon-settings font-green-haze"></i>
            <span class="caption-subject bold uppercase"> Смена пароля</span>
        </div>
    </div>
    <div class="portlet-body form">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
            @Html.HiddenFor(model => model.Id)
            <div class="form-body">
                @Html.AntiForgeryToken()
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="form_control_1">Введите пароль</label>
                    <div class="col-md-10">
                        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "text-danger" })
                        <div class="form-control-focus">
                        </div>
                        <span class="help-block">Минимальная длина пароля 6 символов.Пароль должен иметь минимум:одну цифру, один символ нижнего регистра, один символ верхнего регистра, один не алфавитно-цифровой символ.</span>
                    </div>
                </div>

                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="form_control_1">Повторите пароль</label>
                    <div class="col-md-10">
                        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                        <div class="form-control-focus">
                        </div>
                        <span class="help-block">Минимальная длина пароля 6 символов.Пароль должен иметь минимум:одну цифру, один символ нижнего регистра, один символ верхнего регистра, один не алфавитно-цифровой символ.</span>
                    </div>
                </div>
                @Html.ValidationSummary()
                <button class="btn green">
                    Сохранить
                </button>
            </div>
        }
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->